@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .main-contact {
    display: none;
  }
  .page-header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn-menu-burger {
    padding: 0;
    border: none;
    line-height: 0;
    background-color: transparent;
  }
  .mobile-icon-menu-hamburger {
    stroke: var(--heading-color);
  }
  .top-header {
    position: sticky;
    top: 0;
    z-index: 9999;
    padding: 24px 0;
    border-bottom: 1px solid var(--acent-white-color);
    background-color: var(--white-text);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }
  .main-logo {
    color: var(--acent-color);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .logo-text-color {
    color: var(--heading-color);
  }
  .mobile-menu-burger {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 35px;
    background-color: var(--white-text);
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-burger.is-open {
    transform: translateX(0);
  }
  .close-btn-mobile {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--heading-color);
    padding: 0;
    border: 1px solid rgba(46, 47, 66, 0.1);
    border-radius: 50%;
    background-color: transparent;
    line-height: 0;
  }
  .list-mobile-menu-burger {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .link-mobile-menu-burger {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--heading-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-mobile-menu-burger:focus {
    color: var(--hover-color);
  }
  .contact-mobile-menu-burger {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .tel-menu-burger {
    color: var(--main-text);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-menu-burger:focus {
    color: var(--hover-color);
  }
  .email-menu-burger {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .email-menu-burger:focus {
    color: var(--hover-color);
  }
  .social-list-mobile-burger {
    display: flex;
    max-width: 328px;
    justify-content: space-between;
  }
  .social-link-mobile-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--acent-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-link-mobile-burger:focus {
    background-color: var(--hover-color);
  }
  .social-icon-mobile-burger {
    fill: var(--light-color);
  }
  .nav-menu-burger {
    margin-bottom: 284px;
  }
  .contact-block-menu-burger {
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .mobile-menu-burger {
    display: none;
  }
  .btn-menu-burger {
    display: none;
  }
  .top-header {
    position: sticky;
    top: 0;
    z-index: 9999;
    border-bottom: 1px solid var(--acent-white-color);
    background: var(--white-text);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    padding: 16px 0;
  }
  .main-logo {
    color: var(--acent-color);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 120px;
  }
  .logo-text-color {
    color: var(--heading-color);
  }
  .main-nav {
    display: flex;
    align-items: start;
  }
  .menu {
    display: flex;
    gap: 40px;
  }
  .list-contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .page-header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-link {
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--heading-color);
  }
  .menu-link:focus {
    color: var(--hover-color);
  }
  .link-contact {
    font-size: 12px;
    line-height: 1.17;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-contact:focus {
    color: var(--hover-color);
  }
  .current {
    position: relative;
    color: var(--hover-color);
  }
  .menu-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-color);
  }
}
@media screen and (min-width: 1158px) {
  .mobile-menu-burger {
    display: none;
  }
  .btn-menu-burger {
    display: none;
  }
  .top-header {
    position: sticky;
    top: 0;
    z-index: 9999;
    padding-top: 24px;
    padding: 24px;
    border-bottom: 1px solid var(--acent-white-color);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    background-color: var(--white-text);
  }

  .main-logo {
    margin-right: 76px;
  }
  .page-header-cont {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .main-nav {
    display: flex;
    align-items: start;
  }
  .menu {
    display: flex;
    gap: 40px;
  }
  .menu-link {
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-contact {
    display: flex;
    gap: 40px;
  }

  .main-logo {
    color: var(--acent-color);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }
  .logo-text-color {
    color: var(--heading-color);
  }
  .menu-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--heading-color);
  }
  .menu-link:hover,
  .menu-link:focus {
    color: var(--hover-color);
  }
  .main-contact {
    font-style: normal;
  }
  .link-contact {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--main-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-contact:hover,
  .link-contact:focus {
    color: var(--hover-color);
  }
  .current {
    position: relative;
    color: var(--hover-color);
  }
  .menu-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-color);
  }
}
