:root {
  --acent-color: #4d5ae5;
  --heading-color: #2e2f42;
  --main-text: #434455;
  --light-color: #f4f4fd;
  --white-text: #ffffff;
  --hover-color: #404bbf;
  --acent-white-color: #e7e9fc;
  --lightdark-color: #8e8f99;
  --secondary-hover-color: #31d0aa;
  --secondaty-white-color: #fcfcfc;
}
